@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

body {
  background-color: #1E2144;
}

main {
  padding: 50px 30px;
  min-height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

#bento {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  #bento {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: url(/public/background.png);
    background-size: cover;
    width: 85vw;
    height: calc(85vw/1500*918);
  }
}